* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}
body {
  font-family: "Inter";
  background-image: linear-gradient(to top left, #50b9cc 0%, #bf2e94 100%);
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.square {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.weather {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}
#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}
.circle {
  background-color: #333;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}
